/*1*/
#draggable {
 	width: 150px;
  	height: 150px;
   	padding: 0.5em; 
   	color: red;
   	background: black;
   	display: flex;
   	justify-content: center;
   	align-items: center;
}
/*1*/
/*2*/
#draggable1 {
 	width: 150px;
  	height: 150px;
   	padding: 0.5em; 
   	color: red;
   	background: black;
   	display: flex;
   	justify-content: center;
   	align-items: center;
   	display: inline-block;
}
#droppable1 { 
	 width: 250px;
	 height: 250px; 
	 padding: 0.5em; 
	 float: left; 
	 margin: 10px; 
	 background: grey;
	 display: flex;
	 justify-content: flex-end;

}
/*2*/
/*3*/
#resizable { width: 350px; height: 350px; padding: 0.5em; background: lightblue }
#resizable h3 { text-align: center; margin: 0; }
/*3*/
/*4*/
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px;border:1px solid black; }
/*4*/
/*5*/
	#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
 	#sortable li span { position: absolute; margin-left: -1.3em; }
/*5*/
/*6*/
#accordion h3{
  background: rgb(156,69,84);
}
/*6*/
/*9*/
 .ui-controlgroup-vertical {
      width: 150px;
    }
    .ui-controlgroup.ui-controlgroup-vertical > button.ui-button,
    .ui-controlgroup.ui-controlgroup-vertical > .ui-controlgroup-label {
      text-align: center;
    }
    #car-type-button {
      width: 120px;
    }
    .ui-controlgroup-horizontal .ui-spinner-input {
      width: 20px;
    }
/*9*/
/*11*/
.ui-menu { width: 150px; }
/*11*/
/*13*/
 .ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
/*13*/
/*14*/
 h2 {
      margin: 30px 0 0 0;
    }
    fieldset {
      border: 0;
    }
    label {
      display: block;
    }
 
    /* select with custom icons */
    .ui-selectmenu-menu .ui-menu.customicons .ui-menu-item-wrapper {
      padding: 0.5em 0 0.5em 3em;
    }
    .ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
      height: 24px;
      width: 24px;
      top: 0.1em;
    }
    .ui-icon.video {
      background: url("images/24-video-square.png") 0 0 no-repeat;
    }
    .ui-icon.podcast {
      background: url("images/24-podcast-square.png") 0 0 no-repeat;
    }
    .ui-icon.rss {
      background: url("images/24-rss-square.png") 0 0 no-repeat;
    }
 
    /* select with CSS avatar icons */
    option.avatar {
      background-repeat: no-repeat !important;
      padding-left: 20px;
    }
    .avatar .ui-icon {
      background-position: left top;
    }
/*14*/
/*15*/
 #red, #green, #blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
  }
  #swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
  }
  #red .ui-slider-range { background: #ef2929; }
  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }
/*15*/
